<%= render 'layouts/header' %>

<div class="jumbotron vertical-center">
    <div class="container-fluid">
      <h3>Don't jump off the pier! Join MOVESHER to get help with moving your stuff. Join today!</h3>  
     
    </div> 
</div>

<div>
    <a href="/signup" class="signup-button">START MOVING<br />WITH<br />MOVESHER<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SIGN UP</a>
</div>    
<br />
<br />
<br />
<br />
<br />
<div class="">
    <h2>Work on your own terms</h2>
    <h3>Move what you want, when you want</h3>
</div>