<%= render 'layouts/header' %>

<div class="jumbotron vertical-center">
    <div class="container-fluid">
      <h3>Don't jump off the pier! Join MOVESHER to get help with moving your stuff. Join today!</h3>  
     
    </div> 
</div>

<div>
    <a href="/signup" class="signup-button">START MOVING<br />WITH<br />MOVESHER<br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SIGN UP</a>
</div>    
<br />
<div class="container">
  
  	<hr />
  
  	<div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Set your own schedule</h3></div>
            <div class="panel-body">When you are a mover, you can select the jobs you want and the distance you are willing to travel. Only work when you want to and meet new people doing it. It is fun and rewarding. 
            </div>
          </div>
        </div>
      	<div class="col-md-4">
        	<div class="panel panel-default">
            <div class="panel-heading"><h3>Earn what you want</h3></div>
            <div class="panel-body">It's easy making money helping people do what they can't. Select a job. Coordinate the service call. And we facilitate the payment. 
            </div>
          </div>
        </div>
      	<div class="col-md-4">
        	<div class="panel panel-default">
            <div class="panel-heading"><h3>Let us be your guide</h3></div>
            <div class="panel-body">Whether a movee needs help with a couch or moving across country. Just load up the vehicle and tap the screen. You will get turn by turn directions to the movee's destination. 
            </div>
          </div>
        </div>
    </div>