* {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

.navbar{
    border: 0px !important;
    margin-bottom: 2px !important;
}

.navbar-brand {
    color: #033076 !important;
    font-size: 200% !important;
    font-family: 'Julius Sans One', sans-serif !important;
    margin: 2px 12px 0px 0px;
}

.navbar-brand:hover {
    color: #f7f6f6 !important;
    background-color: #033076 !important;
}

.user-titles {
    color: #000 !important;
    margin: 2px 0px 0px 0px;
     font-size: 125% !important;
}

.user-titles:hover {
    font-weight: bold;
    border-style: solid;
    border-width: 2px 0px 2px 0px;
    border-color: #72bb53;
}

.menu-links {
    color: #000 !important;
    margin: 2px 0px 0px 0px;
}

.menu-links:hover {
    font-weight: bold;
    border-style: solid;
    border-width: 2px 0px 2px 0px;
    border-color: #72bb53;
}

.menu-button {
    color: #72bb53 !important;
    border-style: solid;
    border-width : 2px, 2px, 2px, 2px;
    border-color: #72bb53;
    margin: 0px 0px 0px 4px;
}

.menu-button:hover {
    color: #f7f6f6 !important;
    border-style: solid;
    border-width : 2px, 2px, 2px, 2px;
    border-color: #72bb53;
    margin: 0px 0px 0px 0px;
    background-color: #72bb53 !important;
}